<h1>Sign up to become a Movie Reviewer!</h1>
<br>
<div class="col-md-4 col-md-offset-4">
  <form action="/signup" method="post">
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" placeholder="Enter your first name">
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" placeholder="Enter your last name">
    <label for="email">Email</label>
    <input type="text" name="email" placeholder="Enter your email">
    <label for="password">Password</label >
    <input type="password" id="password" name ="password" placeholder="Enter your password">
    <br>
    <br>
    <input class="btn btn-light" type="submit" value="Sign Up"></form>
  </form>
</div>