<h1>Sign up to become a Movie Reviewer!</h1>
<br>

<form action="/registration" method="post">
  <label for="first_name">First Name</label>
  <br>
  <br>
  <input type="text" name="first_name">
  <br>
  <br>
  <label for="last_name">Last Name</label>
  <br>
  <br>
  <input type="text" name="last_name">
  <br>
  <br>
  <label for="email">Email</label>
  <br>
  <br>
  <input type="text" name="email">
  <br>
  <br>
  <label for="password">Password</label>
  <br>
  <br>
  <input type="password" id="password">
  <br>
  <br>
  <input type="submit" value="Sign Up"></form>
</form>