<body>
<h1>Welcome to the Movie Reviewer</h1>
<br>
<h4>Please sign up or log in to access your movie reviews</h4>
<br>
<a href="/signup" class="btn btn-light">Sign Up</a> &nbsp;
<a href="/login" class="btn btn-light">Log In</a>

</body>