<h1>What Movie Would You Like To Review?</h1>
<form method="post" action="/reviews">
  <a href="/profile">My Profile</a>
  <label for="title">Movie Title</label>
  <br>
  <input type="text" id="title" name="title">
  <br>
  <br>
  <label for="genre">Genre</label>
  <br>
  <input type="text" id="genre" name="genre">
  <br>
  <br>
  <label for="content">Review</label>
  <br>
  <textarea id="content" name="content"></textarea>
  <br>
  <br>
  <input type="submit" value="Submit">
  <br>
  <br>

  <a href='/reviews'>See all Reviews</a>
  <br>
  <br>

  <a href='/logout' class="btn btn-light">Log Out</a>
</form>