
  <!--<h1><%#= @user.first_name %>'s Reviews</h1>-->

  <%# @reviews.each do |review| %>
  <!--  <h2><a href="/reviews/<%#=review.id%>"><%#=review.title %></a></h2>-->
  <!--  <p><%#=review.genre %></p>-->
  <!--  <p><%#= review.content %></p>-->

  <%# end %>

  <!--<a  href="/reviews/new">Add Review</a>-->
  <!--<br>-->
  <!--<a href='/logout' class="btn btn-light">Log Out</a>-->
