<h1>Reviews</h1>

<a  href="/reviews/new">Add Review</a>

<% @reviews.each do |review| %>
  <h1><a href="/reviews/<%=review.id%>"><%=review.title %></a></h1>
  <h2><%=review.genre %></h2>
  <p><%= review.content %></p>

<% end %>

<a href='/logout'>Log Out</a>